<mat-accordion  multi="true" *ngIf="!productsisEmpty">
    <mat-expansion-panel *ngFor="let product of products">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{product.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{product.description}}</p>
      <mat-action-row>
        <a [routerLink]="['/edit']">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </a>
        
        <button mat-icon-button (click)="onDelete(product.id || '')">
           <mat-icon>delete</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p *ngIf="productsisEmpty"> No product added yet</p>