<div class="row" style=" background-color:#7290AC">
  <!--Here is where the items will show-->
  <div class="cart-item col_middle text-center " *ngFor="let item of items" style="color:white " >
    <div class="rounded mx-auto d-block"  style=" background-color:#425D77">
      <div>
      <h4>{{ item.name }}</h4>
      <span>Price of Item: {{ item.price | currency }}</span>
      <br>
      <img
      [src]="item.imagePath" alt="{{item.imagePath}}" style="width: 220px; height:234px"
      >
      <br>
      <span>Amount of Items: {{item.qnt}} </span>
      </div>
    </div>
  </div>
  <!-- Here is where the total price will show-->
  <div class="split right" >
    <div class="centered " >
        <h4>PRIS I ALT</h4> 
        <h5>(inklusiv mom)</h5>
        <h4>75Kr</h4>
        <button type="button" class="btn">Videre</button>
    </div>
  </div>
<!--
  <div class="col-sm-2 col_price split right" style=" background-color:#425D77">
      
    <h4 style="color:white"> Price in total</h4>
    <h5 style="color:white">To</h5>
    <button type="button" class="btn">Filter</button>
    <br>
    <br>
  </div>-->

</div>
