<div class="wrapper1">
  <!--Top Container-->
  <section class="top-container">
    <header class="showcase">
      <h1>Your Web Presence</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, consequuntur dolor fugit harum vero
        voluptatibus?</p>
      <a href="#" class="btn">Read more</a>
    </header>
    <div class="top-box top-box-a">
      <h4>Membership</h4>
      <p class="price">199/mo</p>
      <a href="" class="btn">Buy now</a>
    </div>
    <div class="top-box top-box-b">
      <h4>Membership</h4>
      <p class="price">299/mo</p>
      <a href="" class="btn">Buy now</a>
    </div>
  </section>

  <!-- Boxes Section -->

  <section class="boxes">
    <div class="box">
      <i class="fas fa-char-pie fa-4x"></i>
      <h3>Analytics</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, mollitia.</p>
    </div>
    <div class="box">
      <i class="fas fa-char-pie fa-4x"></i>
      <h3>Marketing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, mollitia.</p>
    </div>
    <div class="box">
      <i class="fas fa-char-pie fa-4x"></i>
      <h3>Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, mollitia.</p>
    </div>
    <div class="box">
      <i class="fas fa-char-pie fa-4x"></i>
      <h3>Fa-Users</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, mollitia.</p>
    </div>
  </section>


  <!--Info Section -->
  <section class="info">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=800"
      alt="">
    <div>
      <h2>Your Business on the Web</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias,
        architecto consequuntur cumque facere ipsa laudantium natus pariatur quibusdam quis quos ratione repellat sit
        velit,
        voluptatem. Ipsam nobis provident rem!</p>
      <a href="#" class="btn">Buy more</a>
    </div>
  </section>


  <!--PortFolio-->

  <section class="portfolio">
    <article class="_0mW-4D _0xLoFW JT3_zV mo6ZnF _78xIQ-" role="link"
             data-trckng-component="kqI_uhVyIlBPoLiwYMt0h">
      <a class="VfpFfd g88eG_ oHRBzn LyRfpJ _LM JT3_zV g88eG_"
         href="https://www.zalando.dk/object-objlemon-smock-dress-hverdagskjoler-sandshell-ob121c0rm-b11.html"
         rel="">
        <figure class="heWLCX">
          <div class="JT3_zV ZkIJC- _9QaS6n pckW89 csmaMi">
            <div class="KVKCn3 u-C3dd jDGwVr mo6ZnF KLaowZ">
              <img draggable="false"
                   class="_6uf91T z-oVg8 u-6V88 ka2E9k uMhVZi FxZV-M _2Pvyxl JT3_zV EKabf7 mo6ZnF _1RurXL mo6ZnF PZ5eVw"
                   alt="OBJLEMON SMOCK DRESS - Hverdagskjoler - sandshell"
                   src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
                   srcset="https://img01.ztat.net/article/spp-media-p1/5a59d558628a46918911c9e0ba0b4e90/91b483edf3104c47a0e53712177452fb.jpg?imwidth=300 300w, https://img01.ztat.net/article/spp-media-p1/5a59d558628a46918911c9e0ba0b4e90/91b483edf3104c47a0e53712177452fb.jpg?imwidth=400 400w, https://img01.ztat.net/article/spp-media-p1/5a59d558628a46918911c9e0ba0b4e90/91b483edf3104c47a0e53712177452fb.jpg?imwidth=500 500w"
                   sizes="(max-width: 767px) calc(50vw - 36px), (min-width: 768px) and (max-width: 1280px) calc(25vw - 64px), 284px"
                   loading="lazy" width="300" height="433">
            </div>
          </div>
        </figure>
      </a>
      <div class="KVKCn3 _2dqvZS _4PwIQ df4QKn _LM">
        <button class="_7HqEu_ r9BRio Md_Vex NN8L-8 heWLCX LyRfpJ reVeb9 NqFdIM" type="button"
                aria-pressed="false">
                <span class="pVrzNP Qi5iSY JT3_zV _0xLoFW u9KIT8 FCIprz uEg2FS _2Pvyxl">
                  <svg class="zds-icon RC794g X9n9TI DlJ4rT fo5HXp WIqSwL aRWWLN H3jvU7" height="1em" width="1em"
                       focusable="false" fill="currentColor" viewBox="0 0 24 24" aria-hidden="false">
                    <path
                      d="M17.49 1.1l-.15.01A6.55 6.55 0 0012 3.91a6.57 6.57 0 00-5.37-2.8A6.4 6.4 0 00.09 7.44c0 7.67 11.03 15.03 11.5 15.34a.75.75 0 00.82 0c.47-.31 11.5-7.67 11.5-15.36a6.43 6.43 0 00-6.42-6.3zM12 21.24c-1.98-1.4-10.4-7.7-10.4-13.79A4.93 4.93 0 016.6 2.62a5.03 5.03 0 014.69 3.15c.22.57 1.16.57 1.39 0a5.08 5.08 0 014.7-3.16h.01a4.92 4.92 0 015 4.82c0 6.09-8.42 12.4-10.4 13.8z">

                    </path>
                  </svg>
                </span>
        </button>
      </div>
      <div class="_0xLoFW _78xIQ- EJ4MLB JT3_zV" tabindex="-1">
        <a class="VfpFfd g88eG_ oHRBzn LyRfpJ JT3_zV g88eG_ ONArL- _2dqvZS lfPP-F"
           href="https://www.zalando.dk/object-objlemon-smock-dress-hverdagskjoler-sandshell-ob121c0rm-b11.html"
           rel="" tabindex="-1" aria-hidden="true">
          <header>
            <div class="hPWzFB">
              <span class="u-6V88 ka2E9k uMhVZi FxZV-M uc9Eq5 pVrzNP ZkIJC- r9BRio qXofat EKabf7">Object</span>
              <h3 class="u-6V88 ka2E9k uMhVZi FxZV-M z-oVg8 pVrzNP ZkIJC- r9BRio qXofat EKabf7">OBJLEMON SMOCK
                DRESS - Hverdagskjoler - sandshell</h3>
            </div>
            <div class="_0xLoFW u9KIT8 _7ckuOK">
                    <span class="u-6V88 ka2E9k uMhVZi FxZV-M z-oVg8 pVrzNP cMfkVL">
                      <span class="aajkfN wOOxir _0m5pni KVKCn3 ZkIJC- r9BRio">
                      </span>479,00&nbsp;kr</span>
            </div>
          </header>
        </a>
      </div>
    </article>
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
    <img
      src="https://img01.ztat.net/article/spp-media-p1/c09489142d3444c0b0686f995cf21225/05914439376743e2b60bd924117e7dad.jpg?imwidth=400"
      alt="">
  </section>


  <!--- footer----->

  <footer>
    <p>
      Asim, Anthony & Javad &copy; 2021
    </p>
  </footer>

</div>


