<!--
<div class="container" style=" background-color:#425D77">
    <div class="row "  >
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" >
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div formGroupName="userData">
            <div class="form-group">
              <br>
              <br>
              <label for="username">Username</label>
              <input type="text"
                     id="username"
                     formControlName="username"
                     class="form-control">
              <span
                *ngIf="!loginForm.get('userData.username').valid && loginForm.get('userData.username').touched"
                class="help-block">
                &lt;!&ndash;<span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid</span>
                <span *ngIf="signupForm.get('userData.username').errors['required']">This field is required</span>&ndash;&gt;
              </span>
            </div>
            <div class="form-group">
              <label for="email">Mail</label>
              <input type="text"
                     formControlName="email"
                     id="email"
                     class="form-control">
              <span
                *ngIf="!loginForm.get('userData.email').valid && loginForm.get('userData.email').touched"
                class="help-block">Please enter a valid email!</span>
            </div>
          </div>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input type="radio"
                     formControlName="gender"
                     [value]="gender"> {{ gender }}
            </label>
          </div>
          <span
            *ngIf="!signupForm.valid && signupForm.touched"
            class="help-block">Please enter a valid data!</span>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>-->

<!--
<mat-card>
  <form (submit)="onAddPost()">
    <mat-form-field>
      <input
        matInput
        type="text"
        ngModel
        name="username">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        ngModel
        name="password">
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">LOGIN</button>
  </form>
</mat-card>


&lt;!&ndash; Expansion Panel &ndash;&gt;

<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      The UserNAme
    </mat-expansion-panel-header>
    <p>The password</p>
  </mat-expansion-panel>
</mat-accordion>
-->
