<p>log-in works!</p>
<mat-card>
  <form (submit)="loginUser(loginForm)" #loginForm="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>email</mat-label>
      <input matInput
       placeholder="input your email" 
       name="email"
       required
       minlength="1"
       [ngModel]='user.email'
       #entereTitle="ngModel">
      <mat-error *ngIf="entereTitle.invalid">Enter an email</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>password</mat-label>
      <input matInput
       placeholder="input your password" 
       name="password"
       required
       minlength="1"
       [ngModel]='user.passwordHash'
       #entereTitle="ngModel">
      <mat-error *ngIf="entereTitle.invalid">Enter an password</mat-error>
    </mat-form-field>
    <hr/>
    <button mat-icon-button
    type="submit"  	>
      <mat-icon>login</mat-icon>
    </button>
  </form>
</mat-card>

