<!--
<nav class="navbar navbar-expand-md navbar-dar bg-dark">
    <button type="button" class="navbar-toggle " (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">JaDes</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav ">
          <li><a href="#">Clothes</a></li>
          <li><a href="#">Sign Up</a></li>
      </ul>
      <ul class="nnavbar-nav navbar-right ">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle " role="button ">Sign Up/Log In<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </li>
     </ul>
     <form class="form-line" >
        <input type="text"
        class="form-control"
        [(ngModel)]="clothesName">
        <p>{{clothesName}}</p>
    </form>
     </div>
</nav>

-->
