/*.hello{
    background-color: #425D77;
}
nav.navi {
    background-color: #425D77;
}*/
a{
  color: white;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  }
.nav.navbar-nav.navbar-right li a {
    color: white;
}
.nav.navbar-nav.navbar-center li a {
  color: white;
}
.nav.navbar-nav.navbar-left li a {
  color: white;
}
.container {
  box-shadow: 0px 0px 10px 0px;
}
.navbar-default{
  border-color:#425D77
}
