<h1 class="text-center font-weight-bold" style="color:white" >WELCOME TO JADES DESIGN</h1>
<div class="row" style=" background-color:#7290AC">
    <!--Here is where the items will show-->
    <br>
    <div class="col_middle text-center " style=" background-color:#425D77" >
      <div class="rounded mx-auto d-block" >
        <div>
        <br>
        <img  [src]="myCoOrd" alt="" width="300" height="492" class="img-rounded" >
        <img [src]="myWhole" alt="" width="525" height="670" class="img-rounded">
        <img [src]="myCoOrd" alt="" width="300" height="492" class="img-rounded" >
        </div>
        <div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>  
<br>
<br>
<br>
<br>
<div>
    <div class="row text-center">
        <img  [src]="myCoOrd" alt="" width="291" height="322" class="img-rounded" hspace="40" >
        <img [src]="myWhole" alt="" width="291" height="322" class="img-rounded" hspace="40">
        <img class="p1" [src]="myCoOrd" alt="" width="291" height="322" class="img-rounded" hspace="40" >
    </div>  
</div>
<br>
<br>
<br>
<br>
<div>
  <div class="row text-center" style=" background-color:#425D77">
      <h1>ABOUT</h1>
  </div>  
</div>

<div>
  <div class="row text-center font-italic">
      <footer class="font-italic">Copyright @JaDes Design</footer>
  </div>  
</div>
