<div>
    <img [src]="myCoOrd" alt="" width="300" height="492" class="img-rounded" >
    <img [src]="myWhole" alt="" width="525" height="670" class="img-rounded">
    <img [src]="myCoOrd" alt="" width="300" height="492" class="img-rounded">
</div>
<div>
    <div>
        <img [src]="myCoOrd" alt="" width="291" height="322" class="img-rounded" >
        <img [src]="myWhole" alt="" width="291" height="322" class="img-rounded">
        <img [src]="myCoOrd" alt="" width="291" height="322" class="img-rounded" >
    </div>  
</div>

<p>main works!</p>
