
<mat-card> 
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    
  <mat-form-field class="example-full-width">
    <mat-label>title</mat-label>
    <input matInput
     placeholder="what ever you want" 
     name="entereTitle"
     required
     minlength="1"
     [ngModel]='post.title'
     #entereTitle="ngModel">
    <mat-error *ngIf="entereTitle.invalid">Eneter a title</mat-error>
  </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea class="broad" 
        name="enteredContent"
        minlength="1"
        required
        [ngModel]='post.content'
        #enteredContent="ngModel"
        matInput placeholder="Ex. It makes me feel..." 
        rows="8">
        </textarea>
        <mat-error *ngIf="enteredContent.invalid">Eneter a content</mat-error>
      </mat-form-field>
    
<hr/>
<button mat-icon-button
type="submit"	
  >
  <mat-icon>add</mat-icon></button>
  </form>
</mat-card>





