<form #postForm="ngForm" (ngSubmit)="onAdd(postForm.value)">
<div class="centered container">
    <div>
        <br>
        <br>
        <h1>Shipping</h1>
    <h4>Navn på kort</h4>
    <input>
    <h4>Kortnummer*</h4>
    <input>
    <h4>Gyldig til*</h4>
    <input>
    <h4>Kontrolcifre*</h4>
    <input>
    <h4>Gem oplysninger til fremtidig brug</h4>
    <button type="button" class="btn">Save</button>

    </div>
</div>
<div class="split right">
    <div class="right" >
        <h4>PRIS I ALT</h4> 
        <h5>(inklusiv mom)</h5>
        <h4>{{total()}}kr.</h4>
    </div>
</div>
</form>
