<form #postForm="ngForm" (ngSubmit)="onAdd(postForm.value)">
<div class="centered container">
    <div>
        <br>
        <br>
        <h1>Shipping</h1>
    <h4>Navn på kort</h4>
    <input 
    type="text"
    ngModel
    name="Navn">
    <h4>Kortnummer*</h4>
    <input
    type="text"
    ngModel
    name="Kortnummer">
    <h4>Gyldig til*</h4>
    <input type="text"
    ngModel
    name="Gyldig">
    <h4>Kontrolcifre*</h4>
    <input
    type="text"
    ngModel
    name="Kontrolcifre">
    <h4>Gem oplysninger til fremtidig brug</h4>
    <button type="submit" class="btn">Save</button>
    <!--
    <h1>{{title}}</h1>
        <h1>{{describtion}}</h1> -->  
    </div>
</div>
<div class="split right">
    <div class="right" >
        <h4>PRIS I ALT</h4> 
        <h5>(inklusiv mom)</h5>
        <h4>{{total()}}kr.</h4>
    </div>
</div>
</form>
