<div class="row centered container" style=" background-color:#7290AC" >
  <br>
  <br>
    <div  >
      <form>
        <div class="form-group" >
          <label for="email">E-Mail</label>
          <input types="email" id="email" class="form-control">
          <form>
            <div class="form-group" >
              <label for="password">Password</label>
              <input types="password" id="password" class="form-control"/>
            </div>
            <div>
              <button class="btn btn-primary" routerLink="/main">Sign Up</button>
            </div>
            <br>
            <div>
              <button class="btn btn-primary" routerLink="/login">Switch to Login</button>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
