<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <h1>New Account</h1>
    <p><label>First Name</label>*</p>
    <input type="text" formControlName="firstName" class="form-control"/>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="form-group">
    <p><label>Last Name</label>*</p>
    <input type="text" formControlName="lastName" class="form-control"/>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="form-group">
    <p><label>Birthday</label>(optional)</p>
    <input type="date" formControlName="username" class="form-control"/>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="form-group">
    <p><label>E-mail</label>*</p>
    <input type="email" formControlName="username" class="form-control"/>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="form-group">
    <p><label>Username</label>*</p>
    <input type="text" formControlName="username" class="form-control"/>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="form-group">
    <p><label>Password</label>*</p>
    <input type="password" formControlName="password" class="form-control"
           placeholder="Password must be at least 6 characters"/>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">
      <span></span>
      Register
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form>



